@page "/Supplier-List"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="3" class="d-flex justify-content-between p-4 align-items-center">
                <div Style="font-weight: bold;font-size: 18px">Supplier</div>
                <div>
                    <MudButton Size="@Size.Medium" Variant="@Variant.Filled" Color="@Color.Primary"
                               Style="text-transform: none;font-weight: bold;"
                               @onclick="@(() => NewOrEditRowCellClick(null))">
                        New Supplier
                    </MudButton>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="12" >
            <MudDataGrid T="Supplier" Items="@_listSupplier"
                         MultiSelection="false" Hover="true" Bordered="true" Elevation="15">
                <Columns>
                    <SelectColumn T="Users"/>
                    <PropertyColumn Property="x => x.Code" Title="Code"/>
                    <PropertyColumn Property="x => x.Description"/>
                    <PropertyColumn Property="x => x.Email"/>
                    <PropertyColumn Property="x => x.Address"/>
                    <TemplateColumn CellClass="d-flex justify-center">
                        <CellTemplate>
                            <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Primary"
                                       Class="w-25" Style="text-transform: none;font-weight: bold;"
                                       @onclick="@(() => NewOrEditRowCellClick(context.Item))">
                                Edit
                            </MudButton>
                            <MudButton Size="@Size.Small" Variant="@Variant.Filled" Color="@Color.Error"
                                       Class="ml-4 w-25" Style="text-transform: none;font-weight: bold;"
                                       @onclick="@(() => DeleteRowCellClicked(context.Item))">
                                Delete
                            </MudButton>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="Supplier"/>
                </PagerContent>
            </MudDataGrid>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}